<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Dot Access Data Test Suite">
            <directory>./tests/Dflydev/DotAccessData</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Dflydev/DotAccessData/</directory>
        </whitelist>
    </filter>
</phpunit>
